@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  overflow-x: hidden;
}

* {
  font-family: "Roboto", sans-serif;
}

.active div {
  background-color: #5e66f2;
  color: #ffffff;
}
